* {
    padding: 0px;
    margin: 0px;
}

body {
    color: #666666;
    font-family: "Open Sans", sans-serif;
}


.bimg {
    width: 100%;
    float: left;
    background-size: 100% 100%;
    background-image: url('img/bg.jpg');
    height: 730px;

}

.header {
    background-color: rgba(0, 0, 0, 0);
    width: 65%;
    height: 80px;
    float: left;
    display: flex;
    justify-content: space-between;

}

.list {
    margin-top: 50px;
    display: flex;
}



.menu {
    width: 20%;
    float: left;


}

.menu ul li {
    list-style: none;
    display: inline-block;
    color: white;
    position: relative;
    padding-left: 30px;
    text-align: center;


}

.menu ul {
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu ul li ul {

    left: 50%;
    top: 90%;
    display: none;
}

.menu ul li ul li ul {
    display: none !important;
}

.menu ul li ul li {
    color: black;
    display: inline-block;

}

.menu ul li:hover ul {
    display: block;
    padding-inline: 20px;
    background-color: white;
}

.menu ul li:hover {
    color: #666666;
    background-color: rgba(0, 139, 139, 0);
    border-bottom: 2px solid rgb(17, 7, 7);
}

.menu ul li ul li:hover ul {
    display: block !important;
    left: 100%;
    left: 0%;
}

.mid {
    width: 100%;
    text-decoration: none;
    color: #fdfbfb;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-left: 50x;
    font-size: 40px;
    border: none;


}

.mid1 {
    width: 100%;
    text-decoration: none;
    color: #fdfbfb;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.button {
    width: 15%;
    color: rgb(251, 251, 249);
    background-color: rgba(246, 244, 241, 0);
    border: 2px solid rgb(254, 254, 255);
    border-radius: 50px;
    padding: 10px;
    margin: 90px;
    font-size: large;
    margin-left: 670px;

}

.button:hover {
    color: rgb(246, 247, 248);
    background-color: #2dc997;
    border: 2px solid #2dc997;
    font-size: large;
}

/* ******************parts******************** */

.part {
    width: 100%;
    float: left;
}

.part1 {
    width: 50%;
    float: left;
    color: black;
}

.part1 h1 {
    margin-left: 70px;
    margin-top: 30px;
}

.part1 p {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-top: 30px;

}

.part1 i {
    font-size: 30px;
    float: left;
    background: #fdfbfb;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #fff155;
    margin-left: 70px;
    margin-top: 30px;
    color: black;
    color: #c97b2d;
    margin-right: 20px;
}

.part1 h3 {
    padding-top: 40px;
    padding-left: 80px;
    color: black;

}

.part1 h4 {
    color: black;
}

.ph1 {
    margin-top: 20px;
    display: flex;
}

#pa2 {
    width: 100%;
    margin-top: 0px;
}

.per {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
}

.p2 i {
    margin: 200;
}

.p2 {
    float: left;
    margin-top: 30px;
    margin-right: 500px;
}

.ph2 h3 {
    float: left;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.mini {
    margin-top: 20px;
    display: flex;
    color: black;
}

.part2 {
    width: 50%;
    float: left;
    /* background-image: url('img/part2.jpg '); */
    height: 600px;
    background-repeat: no-repeat;
    padding-top: 60px;

}


/* ******************************facts**************************************** */
.facts {
    width: 100%;
    height: 120px;
    float: left;
    display: flex;
    color: black;
    background-color: #39454125;
}



.facts h4 {
    margin-left: 70px;
    margin-top: 50px;
    font-size: 40px;
    color: black;

}

.facts h6 {
    margin-left: 350px;
    margin-top: 10px;
    font-size: 20px;
    color: black;

}
.sec {
    width: 100%;
    background-color: #39454125;
    height: 300px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
}
.se1 {
    width: 25%;
    float: left;
    font-size: 48px;
    display: block;
    color: #c9922d;
    margin-top: 90px;
    margin-left: 100px;
    text-align: center;
}
.se2 {
    width: 25%;
    float: left;
    font-size: 48px;
    display: block;
    color:#c9922d;;
    margin-top: 90px;
    margin-left: 150px;
    text-align: center;
}
.se3 {
    width: 25%;
    float: left;
    font-size: 48px;
    display: block;
    color: #c9922d;;
    margin-top: 90px;
    margin-left: 150px;
    text-align: center;
}
.se4 {
    width: 25%;
    float: left;
    font-size: 48px;
    display: block;
    color: #c9922d;
    margin-top: 90px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}
.nm {
    font-size: 20px;
    text-align: center;
    color: black;
}
.section {
    width: 100%;
    float: left;
    height: 200px;
    color: black;
    /* background-color: bisque; */
}
.sec1 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
.sec2 {
    text-align: center;
    font-size: 20px;
}
/* ***************box************* */

.box {
    width: 100%;
    float: left;
    height: 600px;
    background-color: rgb(252, 252, 252);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-left: -15px;    
}
.bo1 {
    width: 28%;
    float: left;
    /* border: 2PX solid #abb2af88; */
    margin: 20px;
    height: 200px;
    margin-left: 90px;
    background-color: rgba(211, 211, 211, 0.374); 
}

.bo2 {
    width: 28%;
    float: left;
    /* border: 2PX solid #abb2af88; */
    margin: 20px;
    height: 200px;
    background-color: rgba(211, 211, 211, 0.374);
}
.bo3 {
    width: 28%;
    float: left;
    /* border: 2PX solid #abb2af88; */
    margin: 20px;
    height: 200px;
    background-color: rgba(211, 211, 211, 0.374);
}
.tex{
    margin-top: 50px;
    font-size: 20px;
}
.tx{
    text-align: center;
    font-size: 15px;
    margin-top: 20px    ;
}
.icon{
    font-size: 40px;
    margin-top: -40px;
    padding: 15px;
    border-radius: 50%;
    background-color: #b6ff55;
    display: inline-block;
}
/* --------------------cell-action---------------------- */

.cell{
    width: 100%;
    float: left;
    background-image: url("img\\flex.jpg");
    height: 200px;
    justify-content: space-between;
    display:flex;
    color: white;
}
.call{
    width: 80%;
    float: left;
    padding-left: 40px;
    padding-top: 50px;
    font-size: 20px;
}
.ctabtn{
    width: 90%;
    float :left;
    margin-top: 100px;
    border-radius: 50px;
    margin-right: 80px;
    padding: 10px;
}
.cbtn{
    margin-right: 80px;
}
.ctabtn:hover{
    background-color: #006533;
    border-color:  #006533;
    color: white;
    
}
.lkh{
    padding-top: 30px;
}
/* ******************portfolio********************** */

.port{
    width: 100%;
    float: left;
    height: 150px;
    color: black;
}

.po1 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
.po2 {
    text-align: center;
    font-size: 20px;
}
.pbtn{
    width: 100%;
    text-align: center;
    float: left;
}
.pbtn1{
    padding: 15px; 
    border-radius: 5px;
    margin: 5px;
    border:none;
}
.pbtn1:hover{
    background-color: #2dc997;
    color: #fdfbfb;
    border: none;
}
/* ********************photos********************** */

.pobox{
    width: 90%;
    float: left;
    height: 950px;
    background-color: rgba(208, 193, 193, 0.386);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 60px;
    margin-left: 65px; 
}
.bo1 {
    width: 26.5%;
    float: left;
    margin: 20px;
    height: 270px;
    margin-left: 90px;   
}
.bo2 {
    width: 26.5%;
    float: left;
    margin: 20px;
    height: 270px;
}
.bo3 {
    width: 26.5%;
    float: left;
    margin: 20px;
    height: 270px;   
}
#po1{
    background-image: url("img\\portfolio-1.jpg");  
    background-size: contain;
}
#po2{
    background-image: url("img\\portfolio-2.jpg");
    background-size: contain; 
}
#po3{
    background-image: url("img\\portfolio-3.jpg");  
    background-size: contain;
}
#po4{
    background-image: url("img\\portfolio-4.jpg");  
    background-size: contain;
}
#po5{
    background-image: url("img\\portfolio-5.jpg");  
    background-size: contain;
}
#po6{
    background-image: url("img\\portfolio-6.jpg");  
    background-size: contain;
}
#po7{
    background-image: url("img\\portfolio-7.jpg");  
    background-size: contain;
}
#po8{
    background-image: url("img\\portfolio-8.jpg");  
    background-size: contain;
}
#po9{
    background-image: url("img\\portfolio-9.jpg");  
    background-size: contain;
}

/* **********************team*************************** */

.team{
    width: 100%;
    float: left;
    height: 150px;
    color: black;
}
.tm1 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
.tm2 {
    text-align: center;
    font-size: 20px;
}
.tmpic{
    width: 100%;
    float: left;
    height: 410px;
}
.tmp1{
    width: 20%;
    float: left;
    background-image: url('img/team-1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    margin: 20px;
    margin-left: 80px;
}
.tmp2{
    width: 20%;
    float: left;
    background-image: url('img/team-2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    margin: 20px;
}
.tmp3{
    width: 20%;
    float: left;
    background-image: url('img/team-3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    margin: 20px;
}
.tmp4{
    width: 20%;
    float: left;
    background-image: url('img/team-4.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    margin: 20px;
}
.tnm{
    color: black;
    margin-top: 330px;
    font-weight: bold;
    text-align: center;
}
/* ****************insta***************** */

.info{
    width: 100%;
    float: left;
    height: 20px;
    margin-top: 5px;
    text-align: center;
}
.info:hover{
    color :#ffaf02
}

/* ******************contact****************** */

.cont{
    width: 100%;
    float: left;
    height: 150px;
    color: black;
}
.ct1 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
.ct2 {
    text-align: center;
    font-size: 20px;
}
/* ****************MAP********************* */
/* *******************FEEDBAK OR INQUIRE******************* */
.inq{
    width: 100%;
    float: left;
    height: 500px;
    display: flex;
}
.inq1{
    margin-left: 270px;
    margin-top: 100px;
    font-size: 20px;
    color: rgb(255, 0, 0);
}
.inq2{
    margin-left: 270px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(6, 81, 5);
}
.loc{
    color: black;
}
.social{
    /* width: 100%;
    float: left;
    height: 20px;
    margin-top: 60px;
    margin-left: 250px;
    display: flex; */
    font-size: 35px;
    margin-top:60px;
    margin-left: 250px;
}
.soho{
    padding:10px;
    display: inline;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 10px;
    background-color: #000000;
    color: white;
    /* font-size: 40px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding:20px;
    border-radius: 100%;
    height: 45px; */
}
.soho:hover{
    background-color: #0dc68b;
    border-color: #0dc68b;
}
/* ***************************form***************************** */

.form1{
    width: 50%;
    float: left;
    margin-top: 80px;
    margin-left: 100px;
}
.f1{
    padding: 10px;
    padding-right: 300px;
    margin: 15px;
    border-color:#2dc997;
}
.f2{
    padding :15px;
    padding-left: 25px;
    padding-right:25px;
    background-color: #259a75;
    text-align: center;
    border: none;
    color: rgb(255, 255, 255);
}
.f3{
    padding-left: 180px;
}
.f2:hover{
    background-color: #5bb497;
}
/* **************footrt*************** */
.footer{
    width: 100%;
    float:left;
    height: 100px;
    text-align: center;
    background-color: #252424;
    color: #fff;
}
.ft{
    margin-top: 40px;
}
/* ************************************************************************************************ */